.portfolio {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto !important;
    
}

.subheading {
    font-size: 24px;
    font-weight: 700;
}
.works {
    display: flex;
    flex-direction: row;
    gap: 50px;

   
}

.workItem {
    height: 400px;
    width: 300px;
    border: 2px solid gray;
    position: relative;
    background-size: cover ;


}

.workText {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    position: absolute;
    bottom: 0;

}

.workItem:nth-child(1) {
    background-image: url(/images/illustration.png);

}

.workItem:nth-child(2) {
    background-image: url(/images/websites.jpg);

}
.workItem:nth-child(3) {
    background-image: url(/images/apps.jpg);
}