.container {
    height: 50px;
    background: hotpink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.brandlinks {
    display: flex;
    align-items: center;
    gap:10px;
}
.social {
    opacity: 0.6;
    cursor: pointer;
    overflow: hidden;
}
.social:hover {
    opacity: 1;
    scale: 1.25;
}

